<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567945579519-e61skm71590gkeqimflvoeo87ho6dv8o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567945579519-e61skm71590gkeqimflvoeo87ho6dv8o</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>567945579519-fod05attdjdurvjtra95s9jtos2tprsj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCaUV06G4XMs1r5gV43jDRy9uqu36I9jew</string>
	<key>GCM_SENDER_ID</key>
	<string>567945579519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indexhosting.arise-and-shine</string>
	<key>PROJECT_ID</key>
	<string>arise-and-shine-tanzania</string>
	<key>STORAGE_BUCKET</key>
	<string>arise-and-shine-tanzania.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567945579519:ios:eff8d6637f7702aa9b35ca</string>
</dict>
</plist>